
/*Text Colors*/

/*Principal Colors*/
.text_color_red{
  color: #fc0606;
}
.text_color_blue{
  color: #328bff;
}
.text_color_green{
  color: #1dcf34;
}
.text_color_yellow{
  color: #ff0;
}
.text_color_orange{
  color: #ff7112;
}
.text_color_purple{
  color: #8201d8;
}
.text_color_pink{
  color: #f0f;
}
.text_color_cyan{
  color: #0ff;
}
.text_color_white{
  color: #fff;
}
.text_color_black{
  color: #000;
}

/*Dark Colors*/
.text_color_dark_red{
  color: #850000;
}
.text_color_dark_blue{
  color: #0016bb;
}
.text_color_dark_green{
  color: #108f21;
}
.text_color_dark_orange{
  color: #c03b06;
}
.text_color_dark_purple{
  color: #6f02d4;
}

/*Pastel Colors*/
.text_color_pastel_red{
  color: #fc9292;
}
.text_color_pastel_blue{
  color: #a0c9ff;
}
.text_color_pastel_green{
  color: #a0ffac;
}
.text_color_pastel_yellow{
  color: #ffffb4;
}
.text_color_pastel_orange{
  color: #f8c09b;
}
.text_color_pastel_purple{
  color: #ddb5f8;
}
.text_color_pastel_pink{
  color: #ffaeff;
}
.text_color_pastel_cyan{
  color: #bfffff;
}

/*HighLight Colors*/

/*Principal HighLight Colors*/
.highlight_text_color_red{
  background-color: #fc0606;
}
.highlight_text_color_blue{
  background-color: #328bff;
}
.highlight_text_color_green{
  background-color: #1dcf34;
}
.highlight_text_color_yellow{
  background-color: #ff0;
}
.highlight_text_color_orange{
  background-color: #ff7112;
}
.highlight_text_color_purple{
  background-color: #8201d8;
}
.highlight_text_color_pink{
  background-color: #f0f;
}
.highlight_text_color_cyan{
  background-color: #0ff;
}
.highlight_text_color_white{
  background-color: #fff;
}
.highlight_text_color_black{
  background-color: #000;
}

/*Dark HighLight Colors*/
.highlight_text_color_dark_red{
  background-color: #850000;
}
.highlight_text_color_dark_blue{
  background-color: #0016bb;
}
.highlight_text_color_dark_green{
  background-color: #108f21;
}
.highlight_text_color_dark_orange{
  background-color: #c03b06;
}
.highlight_text_color_dark_purple{
  background-color: #6f02d4;
}

/*Pastel HighLight Colors*/
.highlight_text_color_pastel_red{
  background-color: #fc9292;
}
.highlight_text_color_pastel_blue{
  background-color: #a0c9ff;
}
.highlight_text_color_pastel_green{
  background-color: #a0ffac;
}
.highlight_text_color_pastel_yellow{
  background-color: #ffffb4;
}
.highlight_text_color_pastel_orange{
  background-color: #f8c09b;
}
.highlight_text_color_pastel_purple{
  background-color: #ddb5f8;
}
.highlight_text_color_pastel_pink{
  background-color: #ffaeff;
}
.highlight_text_color_pastel_cyan{
  background-color: #bfffff;
}

/*Glow Text Color*/

/*Principal Glow Text Colors*/
.glow_text_color_red{
  text-shadow: 0 0 10px #fc0606, 0 0 20px #fc0606, 0 0 30px #fc0606, 0 0 40px #fc0606, 0 0 50px #fc0606, 0 0 60px #fc0606, 0 0 70px #fc0606;
}
.glow_text_color_blue{
  text-shadow: 0 0 10px #328bff, 0 0 20px #328bff, 0 0 30px #328bff, 0 0 40px #328bff, 0 0 50px #328bff, 0 0 60px #328bff, 0 0 70px #328bff;
}
.glow_text_color_green{
  text-shadow: 0 0 10px #1dcf34, 0 0 20px #1dcf34, 0 0 30px #1dcf34, 0 0 40px #1dcf34, 0 0 50px #1dcf34, 0 0 60px #1dcf34, 0 0 70px #1dcf34;
}
.glow_text_color_yellow{
  text-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #ff0, 0 0 40px #ff0, 0 0 50px #ff0, 0 0 60px #ff0, 0 0 70px #ff0;
}
.glow_text_color_orange{
  text-shadow: 0 0 10px #ff7112, 0 0 20px #ff7112, 0 0 30px #ff7112, 0 0 40px #ff7112, 0 0 50px #ff7112, 0 0 60px #ff7112, 0 0 70px #ff7112;
}
.glow_text_color_purple{
  text-shadow: 0 0 10px #8201d8, 0 0 20px #8201d8, 0 0 30px #8201d8, 0 0 40px #8201d8, 0 0 50px #8201d8, 0 0 60px #8201d8, 0 0 70px #8201d8;
}
.glow_text_color_pink{
  text-shadow: 0 0 10px #f0f, 0 0 20px #f0f, 0 0 30px #f0f, 0 0 40px #f0f, 0 0 50px #f0f, 0 0 60px #f0f, 0 0 70px #f0f;
}
.glow_text_color_cyan{
  text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 50px #0ff, 0 0 60px #0ff, 0 0 70px #0ff;
}
.glow_text_color_white{
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}
.glow_text_color_black{
  text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
}

/*Dark Glow Text Colors*/
.glow_text_color_dark_red{
  text-shadow: 0 0 10px #850000, 0 0 20px #850000, 0 0 30px #850000, 0 0 40px #850000, 0 0 50px #850000, 0 0 60px #850000, 0 0 70px #850000;
}
.glow_text_color_dark_blue{
  text-shadow: 0 0 10px #0016bb, 0 0 20px #0016bb, 0 0 30px #0016bb, 0 0 40px #0016bb, 0 0 50px #0016bb, 0 0 60px #0016bb, 0 0 70px #0016bb;
}
.glow_text_color_dark_green{
  text-shadow: 0 0 10px #108f21, 0 0 20px #108f21, 0 0 30px #108f21, 0 0 40px #108f21, 0 0 50px #108f21, 0 0 60px #108f21, 0 0 70px #108f21;
}
.glow_text_color_dark_orange{
  text-shadow: 0 0 10px #c03b06, 0 0 20px #c03b06, 0 0 30px #c03b06, 0 0 40px #c03b06, 0 0 50px #c03b06, 0 0 60px #c03b06, 0 0 70px #c03b06;
}
.glow_text_color_dark_purple{
  text-shadow: 0 0 10px #6f02d4, 0 0 20px #6f02d4, 0 0 30px #6f02d4, 0 0 40px #6f02d4, 0 0 50px #6f02d4, 0 0 60px #6f02d4, 0 0 70px #6f02d4;
}

/*Pastel Glow Text Colors*/
.glow_text_color_pastel_red{
  text-shadow: 0 0 10px #fc9292, 0 0 20px #fc9292, 0 0 30px #fc9292, 0 0 40px #fc9292, 0 0 50px #fc9292, 0 0 60px #fc9292, 0 0 70px #fc9292;
}
.glow_text_color_pastel_blue{
  text-shadow: 0 0 10px #a0c9ff, 0 0 20px #a0c9ff, 0 0 30px #a0c9ff, 0 0 40px #a0c9ff, 0 0 50px #a0c9ff, 0 0 60px #a0c9ff, 0 0 70px #a0c9ff;
}
.glow_text_color_pastel_green{
  text-shadow: 0 0 10px #a0ffac, 0 0 20px #a0ffac, 0 0 30px #a0ffac, 0 0 40px #a0ffac, 0 0 50px #a0ffac, 0 0 60px #a0ffac, 0 0 70px #a0ffac;
}
.glow_text_color_pastel_yellow{
  text-shadow: 0 0 10px #ffffb4, 0 0 20px #ffffb4, 0 0 30px #ffffb4, 0 0 40px #ffffb4, 0 0 50px #ffffb4, 0 0 60px #ffffb4, 0 0 70px #ffffb4;
}
.glow_text_color_pastel_orange{
  text-shadow: 0 0 10px #f8c09b, 0 0 20px #f8c09b, 0 0 30px #f8c09b, 0 0 40px #f8c09b, 0 0 50px #f8c09b, 0 0 60px #f8c09b, 0 0 70px #f8c09b;
}
.glow_text_color_pastel_purple{
  text-shadow: 0 0 10px #ddb5f8, 0 0 20px #ddb5f8, 0 0 30px #ddb5f8, 0 0 40px #ddb5f8, 0 0 50px #ddb5f8, 0 0 60px #ddb5f8, 0 0 70px #ddb5f8;
}
.glow_text_color_pastel_pink{
  text-shadow: 0 0 10px #ffaeff, 0 0 20px #ffaeff, 0 0 30px #ffaeff, 0 0 40px #ffaeff, 0 0 50px #ffaeff, 0 0 60px #ffaeff, 0 0 70px #ffaeff;
}
.glow_text_color_pastel_cyan{
  text-shadow: 0 0 10px #bfffff, 0 0 20px #bfffff, 0 0 30px #bfffff, 0 0 40px #bfffff, 0 0 50px #bfffff, 0 0 60px #bfffff, 0 0 70px #bfffff;
}

/*Glow Box Color*/

/*Principal Glow Box Colors*/
.glow_box_color_red{
  box-shadow: 0 0 10px #fc0606, 0 0 20px #fc0606, 0 0 30px #fc0606, 0 0 40px #fc0606, 0 0 50px #fc0606, 0 0 60px #fc0606, 0 0 70px #fc0606;
}
.glow_box_color_blue{
  box-shadow: 0 0 10px #328bff, 0 0 20px #328bff, 0 0 30px #328bff, 0 0 40px #328bff, 0 0 50px #328bff, 0 0 60px #328bff, 0 0 70px #328bff;
}
.glow_box_color_green{
  box-shadow: 0 0 10px #1dcf34, 0 0 20px #1dcf34, 0 0 30px #1dcf34, 0 0 40px #1dcf34, 0 0 50px #1dcf34, 0 0 60px #1dcf34, 0 0 70px #1dcf34;
}
.glow_box_color_yellow{
  box-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #ff0, 0 0 40px #ff0, 0 0 50px #ff0, 0 0 60px #ff0, 0 0 70px #ff0;
}
.glow_box_color_orange{
  box-shadow: 0 0 10px #ff7112, 0 0 20px #ff7112, 0 0 30px #ff7112, 0 0 40px #ff7112, 0 0 50px #ff7112, 0 0 60px #ff7112, 0 0 70px #ff7112;
}
.glow_box_color_purple{
  box-shadow: 0 0 10px #8201d8, 0 0 20px #8201d8, 0 0 30px #8201d8, 0 0 40px #8201d8, 0 0 50px #8201d8, 0 0 60px #8201d8, 0 0 70px #8201d8;
}
.glow_box_color_pink{
  box-shadow: 0 0 10px #f0f, 0 0 20px #f0f, 0 0 30px #f0f, 0 0 40px #f0f, 0 0 50px #f0f, 0 0 60px #f0f, 0 0 70px #f0f;
}
.glow_box_color_cyan{
  box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 50px #0ff, 0 0 60px #0ff, 0 0 70px #0ff;
}
.glow_box_color_white{
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}
.glow_box_color_black{
  box-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
}

/*Dark Glow Box Colors*/
.glow_box_color_dark_red{
  box-shadow: 0 0 10px #850000, 0 0 20px #850000, 0 0 30px #850000, 0 0 40px #850000, 0 0 50px #850000, 0 0 60px #850000, 0 0 70px #850000;
}
.glow_box_color_dark_blue{
  box-shadow: 0 0 10px #0016bb, 0 0 20px #0016bb, 0 0 30px #0016bb, 0 0 40px #0016bb, 0 0 50px #0016bb, 0 0 60px #0016bb, 0 0 70px #0016bb;
}
.glow_box_color_dark_green{
  box-shadow: 0 0 10px #108f21, 0 0 20px #108f21, 0 0 30px #108f21, 0 0 40px #108f21, 0 0 50px #108f21, 0 0 60px #108f21, 0 0 70px #108f21;
}
.glow_box_color_dark_orange{
  box-shadow: 0 0 10px #c03b06, 0 0 20px #c03b06, 0 0 30px #c03b06, 0 0 40px #c03b06, 0 0 50px #c03b06, 0 0 60px #c03b06, 0 0 70px #c03b06;
}
.glow_box_color_dark_purple{
  box-shadow: 0 0 10px #6f02d4, 0 0 20px #6f02d4, 0 0 30px #6f02d4, 0 0 40px #6f02d4, 0 0 50px #6f02d4, 0 0 60px #6f02d4, 0 0 70px #6f02d4;
}

/*Pastel Glow Box Colors*/
.glow_box_color_pastel_red{
  box-shadow: 0 0 10px #fc9292, 0 0 20px #fc9292, 0 0 30px #fc9292, 0 0 40px #fc9292, 0 0 50px #fc9292, 0 0 60px #fc9292, 0 0 70px #fc9292;
}
.glow_box_color_pastel_blue{
  box-shadow: 0 0 10px #a0c9ff, 0 0 20px #a0c9ff, 0 0 30px #a0c9ff, 0 0 40px #a0c9ff, 0 0 50px #a0c9ff, 0 0 60px #a0c9ff, 0 0 70px #a0c9ff;
}
.glow_box_color_pastel_green{
  box-shadow: 0 0 10px #a0ffac, 0 0 20px #a0ffac, 0 0 30px #a0ffac, 0 0 40px #a0ffac, 0 0 50px #a0ffac, 0 0 60px #a0ffac, 0 0 70px #a0ffac;
}
.glow_box_color_pastel_yellow{
  box-shadow: 0 0 10px #ffffb4, 0 0 20px #ffffb4, 0 0 30px #ffffb4, 0 0 40px #ffffb4, 0 0 50px #ffffb4, 0 0 60px #ffffb4, 0 0 70px #ffffb4;
}
.glow_box_color_pastel_orange{
  box-shadow: 0 0 10px #f8c09b, 0 0 20px #f8c09b, 0 0 30px #f8c09b, 0 0 40px #f8c09b, 0 0 50px #f8c09b, 0 0 60px #f8c09b, 0 0 70px #f8c09b;
}
.glow_box_color_pastel_purple{
  box-shadow: 0 0 10px #ddb5f8, 0 0 20px #ddb5f8, 0 0 30px #ddb5f8, 0 0 40px #ddb5f8, 0 0 50px #ddb5f8, 0 0 60px #ddb5f8, 0 0 70px #ddb5f8;
}
.glow_box_color_pastel_pink{
  box-shadow: 0 0 10px #ffaeff, 0 0 20px #ffaeff, 0 0 30px #ffaeff, 0 0 40px #ffaeff, 0 0 50px #ffaeff, 0 0 60px #ffaeff, 0 0 70px #ffaeff;
}
.glow_box_color_pastel_cyan{
  box-shadow: 0 0 10px #bfffff, 0 0 20px #bfffff, 0 0 30px #bfffff, 0 0 40px #bfffff, 0 0 50px #bfffff, 0 0 60px #bfffff, 0 0 70px #bfffff;
}